@use '../custom' as *;
@use '../components/mixins' as *;

.form {
    padding: 3rem;

    button {
        border: none;
        color: $white;
    }

    a {
        color: $white;
        text-decoration: none;
        text-transform: capitalize;
    }
}
